<p id="notice"><%= notice %></p>

<h2>Posts from people</h2>
    <% @posts.each do |post| %>
      <h3> <%= link_to post.title, post %></h3>
      <h4><%= link_to post.string, post %></h4>
    <% end %>
<br>
