<p id="notice"><%= notice %></p>

<h2>Tell a story</h2>
<hr>
    <% @posts.each do |post| %>
      <h4> <%= link_to post.title, post %></h4>
      <p><%= link_to post.string, post %>
      <p align="right">Posted <%= time_ago_in_words(post.created_at)%> ago </p>
      </p>
      <hr>
    <% end %>
<br>
